## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = []

sample_list_1 = random.sample(range(101), k=(80))

print(sample_list_1)

[29, 52, 6, 79, 25, 42, 85, 20, 7, 89, 83, 28, 51, 9, 95, 60, 57, 59, 43, 94, 96, 46, 26, 66, 50, 35, 76, 18, 16, 11, 49, 40, 67, 97, 48, 47, 63, 93, 74, 64, 100, 36, 82, 38, 92, 90, 15, 72, 13, 1, 69, 5, 45, 86, 58, 23, 8, 14, 3, 70, 61, 88, 73, 34, 37, 77, 22, 55, 33, 56, 54, 91, 39, 0, 30, 78, 2, 24, 65, 4]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 76, 77, 78, 79, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

"""
sample_list_1 = random.sample(range(100), k=(80))
"""

In [4]:
sample_list_2 = random.choices(range(101), k=(80))
print(sample_list_2)

[73, 60, 5, 80, 49, 89, 5, 32, 73, 56, 66, 53, 2, 75, 25, 75, 89, 30, 17, 55, 78, 59, 49, 51, 8, 5, 62, 39, 19, 64, 61, 29, 91, 37, 3, 77, 25, 75, 56, 12, 84, 40, 34, 64, 58, 46, 88, 39, 68, 79, 66, 75, 48, 83, 83, 45, 54, 65, 75, 20, 71, 39, 24, 54, 87, 28, 95, 52, 0, 59, 29, 26, 36, 23, 73, 65, 61, 74, 65, 78]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)

{0, 2, 3, 5, 8, 12, 17, 19, 20, 23, 24, 25, 26, 28, 29, 30, 32, 34, 36, 37, 39, 40, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 68, 71, 73, 74, 75, 77, 78, 79, 80, 83, 84, 87, 88, 89, 91, 95}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = (set1 - set2)
print(set3)

{1, 4, 6, 7, 9, 11, 13, 14, 15, 16, 18, 22, 33, 35, 38, 42, 43, 47, 50, 57, 63, 67, 69, 70, 72, 76, 82, 85, 86, 90, 92, 93, 94, 96, 97, 100}

In [7]:
set3 = set1.difference(set2)
print(set3)

{1, 4, 6, 7, 9, 11, 13, 14, 15, 16, 18, 22, 33, 35, 38, 42, 43, 47, 50, 57, 63, 67, 69, 70, 72, 76, 82, 85, 86, 90, 92, 93, 94, 96, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = (set2 - set1)
print(set4)

{32, 68, 71, 75, 12, 80, 17, 19, 84, 53, 87, 62}

In [9]:
set4 = set2.difference(set1)
print(set4)

{32, 68, 71, 75, 12, 80, 17, 19, 84, 53, 87, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set5 = set1 & set2 

print(set5)

{0, 2, 3, 5, 8, 20, 23, 24, 25, 26, 28, 29, 30, 34, 36, 37, 39, 40, 45, 46, 48, 49, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 73, 74, 77, 78, 79, 83, 88, 89, 91, 95}

In [11]:
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 5, 8, 20, 23, 24, 25, 26, 28, 29, 30, 34, 36, 37, 39, 40, 45, 46, 48, 49, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 73, 74, 77, 78, 79, 83, 88, 89, 91, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
print('set1:',len(set1),'set2:',len(set2), 'set3:',len(set3),'set4: ',len(set4),'set5:',len(set5))

set1: 80 set2: 56 set3: 36 set4:  12 set5: 44

In [13]:
print(len(set3) == len(set1 - set2))
print(len(set4) == len(set2 - set1))
print(len(set5) == len(set1 & set2))

True
True
True

#### Create an empty set called `set6`.

In [14]:
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
set3 = set1.difference(set2)
print(set3)

{1, 4, 6, 7, 9, 11, 13, 14, 15, 16, 18, 22, 33, 35, 38, 42, 43, 47, 50, 57, 63, 67, 69, 70, 72, 76, 82, 85, 86, 90, 92, 93, 94, 96, 97, 100}

In [16]:
set6 = set3.copy()
set35 = ()


set35 = set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 76, 77, 78, 79, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}

#### Check if `set1` and `set6` are equal.

In [17]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

"""
**The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

set.issubset(set)

**The issuperset() method returns True if a set has every elements of another set (passed as an argument). If not, it returns False.

set.issuperset(set)

"""

In [18]:
x = set1.issubset(set3)
print(x)

False

In [19]:
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
print(set.union(set3, set4, set5))
print(set.union(set1,set2))

(set.union(set3, set4, set5)).issubset((set.union(set1,set2)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [21]:
print(set1)
set1 = list(set1)
set1.pop(0)
set1 = set(set1)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 76, 77, 78, 79, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 76, 77, 78, 79, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 28, 30, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 70, 72, 73, 74, 76, 77, 78, 82, 83, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 100}