# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os;

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

''''
lst2 = []
for i in range(1,51):
    lst2.append(i)
print(lst2)
''''

In [2]:
[i for i in range(1, 51)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [3]:
[i for i in range(1, 51)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [4]:
lst2 = []
for i in range(2,101):
    lst2.append(i*2)
print(lst2)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [5]:
[i*2 for i in range(2, 101)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [6]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

"""
lst2 = []
for elements in a:
    for value in elements: 
        lst2.append(value)
print(lst2)
"""

In [7]:
[value for elements in a for value in elements]

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

"""
lst2 = []
for elements in a:
    for value in elements:
        if value >= 0.5:
            lst2.append(value)
print(lst2)
"""

#why if valu>=0.5 is at the end.

In [8]:
[value for elements in a for value in elements if value>=0.5]

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [9]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [10]:
lst2 = []
for i in b:
    for j in i: 
        for k in j:
            lst2.append(k)
print(lst2)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

In [11]:
[k for i in b for j in i for k in j]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [12]:
[k for i in b for j in i for k in j if k <=0.5]

[0.06210792,
 0.08147297,
 0.06833034,
 0.05440634,
 0.30296619,
 0.06769833,
 0.09143215,
 0.45850679,
 0.11434044,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.14901286,
 0.23760688]

#### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [13]:
import os
os.getcwd()
os.chdir('D:\\Repositories\\data-ft-par-labs\\labs\\Data\\')
os.getcwd()

'D:\\Repositories\\data-ft-par-labs\\labs\\Data'

"""
file_list = [f for f in os.listdir('./data') if f.endswith('.csv')]
"""

In [14]:
file_list = [f for f in os.listdir('D:\\Repositories\\data-ft-par-labs\\labs\\Data\\') if f.endswith('.csv')]
print(file_list)

['Admission_Predict.csv', 'ages_population.csv', 'ages_population2.csv', 'ages_population3.csv', 'animals.csv', 'AppleStore.csv', 'austin_weather.csv', 'CDD.csv', 'churn.csv', 'countries-of-the-world.csv', 'Customer-Churn.csv', 'dailyActivity_merged.csv', 'diamonds.csv', 'Employees.csv', 'liquor_store_sales.csv', 'nfl_football_team_stats.csv', 'Orders.csv', 'Pokemon.csv', 'pollution.csv', 'roll_the_dice_hundred.csv', 'roll_the_dice_thousand.csv', 'Temp_states.csv', 'vehicles.csv', 'vehicles_messy.csv', 'Warehouse_and_Retail_Sales.csv']

In [15]:
[f for f in os.listdir('D:\\Repositories\\data-ft-par-labs\\labs\\Data\\') if f.endswith('.csv')]

['Admission_Predict.csv',
 'ages_population.csv',
 'ages_population2.csv',
 'ages_population3.csv',
 'animals.csv',
 'AppleStore.csv',
 'austin_weather.csv',
 'CDD.csv',
 'churn.csv',
 'countries-of-the-world.csv',
 'Customer-Churn.csv',
 'dailyActivity_merged.csv',
 'diamonds.csv',
 'Employees.csv',
 'liquor_store_sales.csv',
 'nfl_football_team_stats.csv',
 'Orders.csv',
 'Pokemon.csv',
 'pollution.csv',
 'roll_the_dice_hundred.csv',
 'roll_the_dice_thousand.csv',
 'Temp_states.csv',
 'vehicles.csv',
 'vehicles_messy.csv',
 'Warehouse_and_Retail_Sales.csv']

"""

going to the parent directory
os
"""

### Bonus

Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)